<div class="jumbotron">
  <div class="container">
    <div class="col-md-4 col-sm-3 col-xs-3"></div>
    <div class="col-md-4 col-sm-6 col-xs-6 headerbox">
      <h1>About.</h1>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-3"></div>
  </div>
</div>
<div class="container">
  <section class="timeline">
    <ul>
      <li>
        <div>
          <time>1992</time> I was born in Brooklyn, New York to a wonderful mother originally from Seoul and a caring father from Illinois.
      </li>
      <li>
        <div>
          <time>2010</time> Fast forward 18 years... I graduated from Stuyvesant High School in New York City. I was captain of the track team and Manhattan PSAL Borough Champion in the 400m, 600m, and 800m events.
        </div>
      </li>
      <li>
        <div>
          <time>2012</time> I volunteered in Xela, Guatemala teaching English to elementary school children. Additionally I spent time in Mexico, Ecuador, and El Salvador.
        </div>
      </li>
      <li>
        <div>
          <time>2013-2015</time> I became tremendously interested in investing. I Began studying different valuation methodologies. I founded a Bitcoin investment vehicle as well as a student investment fund. I interned at the private equity fund Agamya Capital in Chicago. I attended Berkshire Hathaway's shareholder meetings. I won the Dodge & Cox Investment Case Competition.
      </li>
      <li>
        <div>
          <time>2015</time> I graduated from the University of Chicago with a B.A. in Political Science.
        </div>
      </li>
      <li>
        <div>
          <time>2015-2016</time> I returned to New York City with the intention of pivoting into tech. I began work at Oscar Health as a Sales Consultant. In my time there I was a top closer (5th of 150+) based on total sales across the US open enrolment period.
        </div>
      </li>
      <li>
        <div>
          <time>2016-2017</time> I moved to a SaaS CRM company in New York called Signpost as a Sales Executive. I had a deep admiration for what the engineers there were building and wanted to be on the product side in the future. I began learning the fundamentals of computer programming in my free time.
        </div>
      </li>
      <li>
        <div>
          <time>2017</time> I decided to attend the Accelerate Coding Bootcamp in Hong Kong to transform my newfound career interests into a reality.
        </div>
      </li>
      <li>
        <div>
          <time>Present</time> I will continue to further my learning in creating sleek and intuitive web applications. I am currently searching for a junior developer position - check out my CV:
          <br><br><a style="color:white;" target="_blank" href="/documents/Pace2017CV.pdf"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
        </div>
      </li>
    </ul>
  </section>
</div>
