<div class="jumbotron">
  <div class="container">
    <div class="col-md-4 col-sm-3 col-xs-3"></div>
    <div class="col-md-4 col-sm-6 col-xs-6 headerbox">
      <h1>Contact.</h1>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-3"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 style="text-align:left;">Click.</h2>
    <span class="divider"></span>
  </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <a style="color:white;" target="_blank" href="/documents/Pace2017CV.pdf"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
        <br><a style="color: white;" href="mailto:pacemlee@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        <br><a style="color:white;" target="_blank" href="https://github.com/pacelee"><i class="fa fa-github" aria-hidden="true"></i></a>
        <br><a style="color:white;" href="tel:+852-5970-5733"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
        <br><a style="color:white;" target="_blank" href="https://www.linkedin.com/in/pacemlee/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <br><a style="color:white;" target="_blank" href="https://www.instagram.com/pacemlee/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
  </div>
</div>
