<div class="jumbotron">
  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="headerbox">
        <h1>I'm Pace.</h1>
        <center><p>a web developer.</p><center>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<div class="container">
<!-- <div class="col-md-4">
</div> -->
<div class="row">
    <h2 style="text-align:left;">Hello.</h2>
    <span class="divider"></span>
    <div class="col-md-4">
      <p>I am a web designer / developer from Brooklyn, New York.
      I am passionate about creating web applications with strong
      functionality, UX, and aesthetics.
      </p>
    </div>
    <div class="col-md-8">
    </div>
</div>

</div>
<br>
<div class="container">
  <div class="row">
    <h2 style="text-align:left;">Skills.</h2>
    <span class="divider"></span>
  </div>
  <div class="col-md-6">
    <i class="fa fa-cogs" aria-hidden="true" size="large"></i>
    <br><br>
    <ul>
      <li class="dev-item">HTML5</li>
      <li class="dev-item">CSS3</li>
      <li class="dev-item">JavaScript</li>
      <li class="dev-item">Ruby</li>
      <li class="dev-item">Rails</li>
      <li class="dev-item">Sinatra</li>
      <li class="dev-item">PostgreSQL</li>
      <li class="dev-item">Ember JS</li>
      <li class="dev-item">Angular 2</li>
    </ul>
  </div>
  <div class="col-md-3">
    <i class="fa fa-wrench" aria-hidden="true" size="large"></i>
    <br><br><br>
    <img src="/images/checkmark.svg"> &ensp; Git + Github <br><br>
    <img src="/images/checkmark.svg"> &ensp; Command Line <br><br>
    <img src="/images/checkmark.svg"> &ensp; Gulp <br><br>
    <img src="/images/checkmark.svg"> &ensp; Chrome DevTools <br><br>
    <img src="/images/checkmark.svg"> &ensp; Atom <br><br>
    <img src="/images/checkmark.svg"> &ensp; Test Driven Development
  </div>
  <div class="col-md-3">
    <i class="fa fa-briefcase" aria-hidden="true"></i>
    <br><br><br>
    <img src="/images/checkmark.svg"> &ensp; Microsoft Office Suite <br><br>
    <img src="/images/checkmark.svg"> &ensp; Microsoft Dynamics <br><br>
    <img src="/images/checkmark.svg"> &ensp; Salesforce <br><br>
    <img src="/images/checkmark.svg"> &ensp; Tableau <br><br>
    <img src="/images/checkmark.svg"> &ensp; Capital IQ <br><br>
    <img src="/images/checkmark.svg"> &ensp; ThomsonOne <br><br>
  </div>
</div>
  <br>
<div class="container">
  <div class="row">
    <h2 style="text-align:left;">I can help.</h2>
  </div>
    <span class="divider"></span>
    <div class="col-md-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>


</div>
