<div class="jumbotron">
  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="headerbox">
        <h1>I'm Pace.</h1>
        <center><p>a web developer.</p><center>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<div class="container">
<div class="col-md-4">
</div>
<div class="col-md-4">
  <h2>Hello.</h2>
  <br>
  <p>I'm a web designer / developer from Brooklyn, New York.
  I am passionate about creating web applications with strong
  functionality, UX, and aesthetics.
  </p>
</div>
<div class="col-md-4">
</div>
</div>
<br>
<div class="container">
  <div class="col-md-6">
    <ul>
      <li class="dev-item">HTML5</li>
      <li class="dev-item">CSS3</li>
      <li class="dev-item">JavaScript</li>
      <li class="dev-item">Ruby</li>
      <li class="dev-item">Rails</li>
      <li class="dev-item">Sinatra</li>
      <li class="dev-item">PostgreSQL</li>
      <li class="dev-item">Ember JS</li>
      <li class="dev-item">Angular 2</li>
    </ul>
  </div>
</div>
