<div class="jumbotron">
  <div class="container">
    <div class="col-md-4 col-sm-3 col-xs-3"></div>
    <div class="col-md-4 col-sm-6 col-xs-6 headerbox">
      <h1>I'm Pace.</h1>
      <center><p>a web developer.</p></center>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-3"></div>
  </div>
</div>

<div class="container">
  <div class="row">
      <h2 style="text-align:left;">Hello.</h2>
      <span class="divider"></span>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <p>I am a web designer / developer from Brooklyn, New York.
        I am passionate about creating web applications with strong
        functionality, UX, and aesthetics.
        </p>
      </div>
      <div class="col-md-8 col-sm-4 col-xs-4">
      </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <h2 style="text-align:left;">Skills.</h2>
    <span class="divider"></span>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <i class="fa fa-cogs" aria-hidden="true" size="large"></i>
    <br><br>
    <ul>
      <li class="dev-item">HTML5</li>
      <li class="dev-item">CSS3</li>
      <li class="dev-item">JavaScript</li>
      <li class="dev-item">Ruby</li>
      <li class="dev-item">Rails</li>
      <li class="dev-item">Sinatra</li>
      <li class="dev-item">PostgreSQL</li>
      <li class="dev-item">Ember JS</li>
      <li class="dev-item">Angular 2</li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-6">
    <i class="fa fa-wrench" aria-hidden="true" size="large"></i>
    <br><br><br>
    <img src="/images/checkmark.svg"> &ensp; Git + Github <br><br>
    <img src="/images/checkmark.svg"> &ensp; Command Line <br><br>
    <img src="/images/checkmark.svg"> &ensp; Gulp <br><br>
    <img src="/images/checkmark.svg"> &ensp; Chrome DevTools <br><br>
    <img src="/images/checkmark.svg"> &ensp; Atom <br><br>
    <img src="/images/checkmark.svg"> &ensp; Test Driven Development
    <br><br><br>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-6">
    <i class="fa fa-briefcase" aria-hidden="true"></i>
    <br><br><br>
    <img src="/images/checkmark.svg"> &ensp; Microsoft Office Suite <br><br>
    <img src="/images/checkmark.svg"> &ensp; Microsoft Dynamics <br><br>
    <img src="/images/checkmark.svg"> &ensp; Salesforce <br><br>
    <img src="/images/checkmark.svg"> &ensp; Tableau <br><br>
    <img src="/images/checkmark.svg"> &ensp; Capital IQ <br><br>
    <img src="/images/checkmark.svg"> &ensp; ThomsonOne <br><br>
  </div>
</div>
  <br>
<div class="container">
  <div class="row">
    <h2 style="text-align:left;">I can help.</h2>
    <span class="divider"></span>
  </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <p>I'm currently available for freelance work. If you have a project you think I can help out with or just want to say hello, drop me a message!</p>
      <a style="color: white;" href="mailto:pacemlee@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    </div>
</div>
