<!--
                       _oo0oo_
                      o8888888o
                      88" . "88
                      (| -_- |)
                      0\  =  /0
                    ___/`---'\___
                  .' \\|     |// '.
                 / \\|||  :  |||// \
                / _||||| -:- |||||- \
               |   | \\\  -  /// |   |
               | \_|  ''\---/''  |_/ |
               \  .-\__  '-'  ___/-. /
             ___'. .'  /--.--\  `. .'___
          ."" '<  `.___\_<|>_/___.' >' "".
         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
         \  \ `_.   \_ __\ /__ _/   .-` /  /
     =====`-.____`.___ \_____/___.-`___.-'=====
                       `=---='


     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                BUDDHA BLESS THE CODE
-->


<!DOCTYPE html>
  <html>
    <head>
      <title>Pace Lee</title>
      <meta charset="utf-8"/>
      <meta name="description" content="The portfolio of Pace M Lee, a Web Developer from Brooklyn, New York"/>
      <meta name="keywords" content="pace, lee, pace lee, pacemlee, web design, web development, web, freelance, developer"/>
      <meta name="robots" content="index, follow"/>
      <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
      <link rel="manifest" href="/images/manifest.json">
      <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
      <link rel="shortcut icon" href="/images/favicon.ico">
      <meta name="msapplication-config" content="/images/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
      <!-- Styles -->
      <link href="/style.css" rel="stylesheet">
      <link href="/reset.css" rel="stylesheet">
      <link rel='stylesheet' href='https://bootswatch.com/superhero/bootstrap.min.css'>
      <!-- Fonts -->
      <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>

        <div id="container">
          <div id="canvas">
            <div id="nav">
              <h2 id="title">PACE LEE</h2>
              <ul id="toggle">
                <li>
                  <div>
                    <a href="/"><span class="menu-icons fa fa-home"></span>HOME</a>
                  </div>
                </li>
                <li>
                  <div>
                    <a href="/about"><span class="menu-icons  fa fa-user"></span>ABOUT</a>
                  </div>
                </li>
                <li>
                  <div>
                    <a href="/portfolio"><span class="menu-icons  fa fa-briefcase"></span>PORTFOLIO</a>
                  </div>
                </li>
                <li>
                  <div>
                    <a href="/contact"><span class="menu-icons  fa fa-envelope"></span>CONTACT</a>
                  </div>
                </li>
              </ul>
            </div>
          <a href="#" class="toggle-nav" id="bars"><i class="fa fa-bars"></i></a>
          <br><br><br>
          <%= yield %>
          <div class="container">
            <div class="row">
              <i style="z-index: 3; float:right;" id="top" class="fa fa-hand-o-up" aria-hidden="true"></i>
              <p style="float:right;">©2017 Pace Lee.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Scripts -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="custom.js"></script>
    </body>
  </html>
